# Dependencies
node_modules
.gradle
!gradle/wrapper/gradle-wrapper.jar

# Local env files
.env
.env.development.local
.env.test.local
.env.production.local

# Turbo
.turbo

# Build Outputs
.output
build
.nuxt
.kotlin

# IntelliJ
.idea/
