:root {
	--bg-base: hsl(0deg 0% 100% / 100%);
	--bg-surface: hsl(0deg 0% 98% / 100%);
	--gray-100: hsl(0deg 0% 95% / 100%);
	--gray-200: hsl(0deg 0% 92% / 100%);
	--gray-300: hsl(0deg 0% 90% / 100%);
	--gray-400: hsl(0deg 0% 92% / 100%);
	--gray-500: hsl(0deg 0% 79% / 100%);
	--gray-600: hsl(0deg 0% 66% / 100%);
	--gray-700: hsl(0deg 0% 56% / 100%);
	--gray-800: hsl(0deg 0% 49% / 100%);
	--gray-900: hsl(0deg 0% 40% / 100%);
	--gray-1000: hsl(0deg 0% 9% / 100%);
	--red-100: hsl(0deg 100% 97% / 100%);
	--red-200: hsl(0deg 100% 96% / 100%);
	--red-300: hsl(0deg 100% 95% / 100%);
	--red-400: hsl(0deg 90% 92% / 100%);
	--red-500: hsl(0deg 82% 85% / 100%);
	--red-600: hsl(359deg 90% 71% / 100%);
	--red-700: hsl(358deg 75% 59% / 100%);
	--red-800: hsl(358deg 70% 52% / 100%);
	--red-900: hsl(358deg 66% 48% / 100%);
	--red-1000: hsl(355deg 49% 15% / 100%);
	--amber-100: hsl(39deg 100% 95% / 100%);
	--amber-200: hsl(44deg 100% 92% / 100%);
	--amber-300: hsl(43deg 96% 90% / 100%);
	--amber-400: hsl(42deg 100% 78% / 100%);
	--amber-500: hsl(38deg 100% 71% / 100%);
	--amber-600: hsl(36deg 90% 62% / 100%);
	--amber-700: hsl(39deg 100% 57% / 100%);
	--amber-800: hsl(35deg 100% 52% / 100%);
	--amber-900: hsl(30deg 100% 32% / 100%);
	--amber-1000: hsl(20deg 79% 17% / 100%);
	--green-100: hsl(120deg 60% 96% / 100%);
	--green-200: hsl(120deg 60% 95% / 100%);
	--green-300: hsl(120deg 60% 91% / 100%);
	--green-400: hsl(122deg 60% 86% / 100%);
	--green-500: hsl(124deg 60% 75% / 100%);
	--green-600: hsl(125deg 60% 64% / 100%);
	--green-700: hsl(131deg 41% 46% / 100%);
	--green-800: hsl(132deg 43% 39% / 100%);
	--green-900: hsl(133deg 50% 32% / 100%);
	--green-1000: hsl(128deg 29% 15% / 100%);
}

:root.dark {
	--bg-base: hsl(0deg 0% 0% / 100%);
	--bg-surface: hsl(0deg 0% 4% / 100%);
	--gray-100: hsl(0deg 0% 10% / 100%);
	--gray-200: hsl(0deg 0% 12% / 100%);
	--gray-300: hsl(0deg 0% 16% / 100%);
	--gray-400: hsl(0deg 0% 18% / 100%);
	--gray-500: hsl(0deg 0% 27% / 100%);
	--gray-600: hsl(0deg 0% 53% / 100%);
	--gray-700: hsl(0deg 0% 56% / 100%);
	--gray-800: hsl(0deg 0% 49% / 100%);
	--gray-900: hsl(0deg 0% 63% / 100%);
	--gray-1000: hsl(0deg 0% 93% / 100%);
	--red-100: hsl(357deg 37% 12% / 100%);
	--red-200: hsl(357deg 46% 16% / 100%);
	--red-300: hsl(356deg 54% 22% / 100%);
	--red-400: hsl(357deg 55% 26% / 100%);
	--red-500: hsl(357deg 60% 32% / 100%);
	--red-600: hsl(358deg 75% 59% / 100%);
	--red-700: hsl(358deg 75% 59% / 100%);
	--red-800: hsl(358deg 69% 52% / 100%);
	--red-900: hsl(358deg 100% 69% / 100%);
	--red-1000: hsl(353deg 90% 96% / 100%);
	--amber-100: hsl(35deg 100% 8% / 100%);
	--amber-200: hsl(32deg 100% 10% / 100%);
	--amber-300: hsl(33deg 100% 15% / 100%);
	--amber-400: hsl(35deg 100% 17% / 100%);
	--amber-500: hsl(35deg 91% 22% / 100%);
	--amber-600: hsl(39deg 85% 49% / 100%);
	--amber-700: hsl(39deg 100% 57% / 100%);
	--amber-800: hsl(35deg 100% 52% / 100%);
	--amber-900: hsl(39deg 90% 50% / 100%);
	--amber-1000: hsl(40deg 94% 93% / 100%);
	--green-100: hsl(136deg 50% 9% / 100%);
	--green-200: hsl(137deg 50% 12% / 100%);
	--green-300: hsl(136deg 50% 14% / 100%);
	--green-400: hsl(135deg 70% 16% / 100%);
	--green-500: hsl(135deg 70% 23% / 100%);
	--green-600: hsl(135deg 70% 34% / 100%);
	--green-700: hsl(131deg 41% 46% / 100%);
	--green-800: hsl(132deg 43% 39% / 100%);
	--green-900: hsl(131deg 43% 57% / 100%);
	--green-1000: hsl(136deg 73% 94% / 100%);
}
