spring:
  application:
    name: solitar
  main:
    banner-mode: off
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      url: ${REDIS_URL}

server:
  port: ${SERVER_PORT:8080}
