spring:
  application:
    name: solitar
  main:
    banner-mode: off
  mvc:
    problemdetails:
      enabled: true
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      url: ${REDIS_URL}
  flyway:
    enabled: true
    locations: classpath:db/migration
  jpa:
    hibernate:
      ddl-auto: validate

server:
  port: ${SERVER_PORT:8080}
