:root {
	--bg: hsla(0, 0%, 100%, 1);
	--bg-muted: hsla(0, 0%, 98%, 1);

	--gray-100: hsla(0, 0%, 95%, 1);
	--gray-200: hsla(0, 0%, 92%, 1);
	--gray-300: hsla(0, 0%, 90%, 1);
	--gray-400: hsla(0, 0%, 92%, 1);
	--gray-500: hsla(0, 0%, 79%, 1);
	--gray-600: hsla(0, 0%, 66%, 1);
	--gray-700: hsla(0, 0%, 56%, 1);
	--gray-800: hsla(0, 0%, 49%, 1);
	--gray-900: hsla(0, 0%, 40%, 1);
	--gray-1000: hsla(0, 0%, 9%, 1);

	--red-100: hsla(0, 100%, 97%, 1);
	--red-200: hsla(0, 100%, 96%, 1);
	--red-300: hsla(0, 100%, 95%, 1);
	--red-400: hsla(0, 90%, 92%, 1);
	--red-500: hsla(0, 82%, 85%, 1);
	--red-600: hsla(359, 90%, 71%, 1);
	--red-700: hsla(358, 75%, 59%, 1);
	--red-800: hsla(358, 70%, 52%, 1);
	--red-900: hsla(358, 66%, 48%, 1);
	--red-1000: hsla(355, 49%, 15%, 1);

	--amber-100: hsla(39, 100%, 95%, 1);
	--amber-200: hsla(44, 100%, 92%, 1);
	--amber-300: hsla(43, 96%, 90%, 1);
	--amber-400: hsla(42, 100%, 78%, 1);
	--amber-500: hsla(38, 100%, 71%, 1);
	--amber-600: hsla(36, 90%, 62%, 1);
	--amber-700: hsla(39, 100%, 57%, 1);
	--amber-800: hsla(35, 100%, 52%, 1);
	--amber-900: hsla(30, 100%, 32%, 1);
	--amber-1000: hsla(20, 79%, 17%, 1);

	--green-100: hsla(120, 60%, 96%, 1);
	--green-200: hsla(120, 60%, 95%, 1);
	--green-300: hsla(120, 60%, 91%, 1);
	--green-400: hsla(122, 60%, 86%, 1);
	--green-500: hsla(124, 60%, 75%, 1);
	--green-600: hsla(125, 60%, 64%, 1);
	--green-700: hsla(131, 41%, 46%, 1);
	--green-800: hsla(132, 43%, 39%, 1);
	--green-900: hsla(133, 50%, 32%, 1);
	--green-1000: hsla(128, 29%, 15%, 1);
}

:root.dark {
	--bg: hsla(0, 0%, 0%, 1);
	--bg-muted: hsla(0, 0%, 4%, 1);

	--gray-100: hsla(0, 0%, 10%, 1);
	--gray-200: hsla(0, 0%, 12%, 1);
	--gray-300: hsla(0, 0%, 16%, 1);
	--gray-400: hsla(0, 0%, 18%, 1);
	--gray-500: hsla(0, 0%, 27%, 1);
	--gray-600: hsla(0, 0%, 53%, 1);
	--gray-700: hsla(0, 0%, 56%, 1);
	--gray-800: hsla(0, 0%, 49%, 1);
	--gray-900: hsla(0, 0%, 63%, 1);
	--gray-1000: hsla(0, 0%, 93%, 1);

	--red-100: hsla(357, 37%, 12%, 1);
	--red-200: hsla(357, 46%, 16%, 1);
	--red-300: hsla(356, 54%, 22%, 1);
	--red-400: hsla(357, 55%, 26%, 1);
	--red-500: hsla(357, 60%, 32%, 1);
	--red-600: hsla(358, 75%, 59%, 1);
	--red-700: hsla(358, 75%, 59%, 1);
	--red-800: hsla(358, 69%, 52%, 1);
	--red-900: hsla(358, 100%, 69%, 1);
	--red-1000: hsla(353, 90%, 96%, 1);

	--amber-100: hsla(35, 100%, 8%, 1);
	--amber-200: hsla(32, 100%, 10%, 1);
	--amber-300: hsla(33, 100%, 15%, 1);
	--amber-400: hsla(35, 100%, 17%, 1);
	--amber-500: hsla(35, 91%, 22%, 1);
	--amber-600: hsla(39, 85%, 49%, 1);
	--amber-700: hsla(39, 100%, 57%, 1);
	--amber-800: hsla(35, 100%, 52%, 1);
	--amber-900: hsla(39, 90%, 50%, 1);
	--amber-1000: hsla(40, 94%, 93%, 1);

	--green-100: hsla(136, 50%, 9%, 1);
	--green-200: hsla(137, 50%, 12%, 1);
	--green-300: hsla(136, 50%, 14%, 1);
	--green-400: hsla(135, 70%, 16%, 1);
	--green-500: hsla(135, 70%, 23%, 1);
	--green-600: hsla(135, 70%, 34%, 1);
	--green-700: hsla(131, 41%, 46%, 1);
	--green-800: hsla(132, 43%, 39%, 1);
	--green-900: hsla(131, 43%, 57%, 1);
	--green-1000: hsla(136, 73%, 94%, 1);
}

body {
	background-color: var(--bg);
	color: var(--gray-1000);
}
