name: Docker build

on:
  push:
    paths:
      - .github/workflows/backend-docker.yml
      - "apps/backend/**"
      - build.gradle.kts
      - settings.gradle.kts
  pull_request:
    types: [opened, synchronize]
    paths:
      - .github/workflows/backend-docker.yml
      - "apps/backend/**"
      - build.gradle.kts
      - settings.gradle.kts

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: solitar-dev/backend

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate Docker image metadata
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          labels: |
            org.opencontainers.image.title=solitar
            org.opencontainers.image.description=Solitar API
            org.opencontainers.image.licenses=MIT
          annotations: |
            org.opencontainers.image.title=solitar
            org.opencontainers.image.description=Solitar API
            org.opencontainers.image.licenses=MIT

      - name: Login to GitHub Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: ./apps/backend/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          annotations: ${{ steps.docker_meta.outputs.annotations }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
